[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
matplotlib = "*"
janome = "*"
gensim = "*"
scikit-learn = "*"
mecab-python3 = "*"

[requires]
python_version = "3.8"
